<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>商 家</string>
		<key>norTitle</key>
		<string>个人</string>
		<key>selTitle</key>
		<string>企业</string>
	</dict>
	<dict>
		<key>title</key>
		<string>价格(元)</string>
	</dict>
	<dict>
		<key>title</key>
		<string>在线时间段</string>
	</dict>
	<dict>
		<key>title</key>
		<string>库存量</string>
	</dict>
</array>
</plist>
